@charset "UTF-8";
/*** The new CSS reset - version 1.5.1 (last updated 1.3.2022) ***/
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ul,
menu {
  list-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

img {
  width: 100%;
  vertical-align: top;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

.header__innner {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 20px 40px;
}
@media (max-width: 750px) {
  .header__innner {
    padding: 20px 16px;
  }
}

.header__logo {
  max-width: 175px;
}

.header__bg {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  background-color: #121212;
  transition: all 0.3s;
  position: fixed;
}
.header__bg.is-active {
  opacity: 0.7;
  visibility: visible;
  height: 100vh;
}

.openbtn1 {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 20px;
  top: 50%;
  right: 0;
  z-index: 1000;
}
.openbtn1.active {
  z-index: 99;
}
.openbtn1.active .openbtn:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translateY(20px) rotate(-315deg);
  width: 30px;
  background: #ffffff;
}
.openbtn1.active .openbtn:nth-of-type(2) {
  opacity: 0; /*真ん中の線は透過*/
}
.openbtn1.active .openbtn:nth-of-type(3) {
  top: 40px;
  left: 0px;
  transform: translateY(-20px) rotate(315deg);
  width: 30px;
  background: #ffffff;
}

.openbtn2 {
  position: relative;
}

.openbtn {
  display: inline-block;
  transition: all 0.4s; /*アニメーションの設定*/
  position: absolute;
  background: #121212;
  width: 30px;
  height: 2px;
  top: 0;
  left: 0;
}
.openbtn:nth-of-type(1) {
  top: 10px;
}
.openbtn:nth-of-type(2) {
  top: 20px;
}
.openbtn:nth-of-type(3) {
  top: 30px;
}

#header__menu {
  position: absolute;
  opacity: 0; /*はじめは透過0*/
  visibility: hidden;
  /*ナビの位置と形状*/
  top: 0;
  left: 0;
  padding: 50px 20px;
  width: 300px;
  height: 100vh; /*ナビの高さ*/
  /*動き*/
  transition: all 0.5s;
  transform: translateX(-300px);
}
#header__menu.panelactive {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  background: black;
  color: #ffffff;
  transform: translateX(0px);
}

.header__menu__list {
  padding: 20px 0px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.header__menu__list:first-child {
  border-top: 1px solid #ffffff;
}

.sns__list {
  padding-bottom: 5px;
  cursor: pointer;
}
.sns__list:nth-child(4) {
  margin-top: 60px;
}

.main__visual {
  margin-top: 80px;
}

.parallax-bg {
  background: url("img/video.mp4") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 750px) {
  .parallax-bg {
    height: 100vh;
  }
}
.parallax-bg video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.section__title--primary {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.swiper {
  overflow: hidden;
}

@media (min-width: 901px) {
  .swiper-slide {
    width: 360px;
  }
}
@media (max-width: 750px) {
  .swiper-slide {
    width: 235px;
  }
}

.feature__section {
  max-width: 1240px;
  margin: auto;
  padding: 0px 16px;
}

.feature__list {
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
  justify-content: center;
}

.feature__items {
  display: inline-block;
  border: #cccccc solid 1px;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1607843137);
}

.feature__items__detail {
  padding: 27px 31px;
}

.feature__list__subtitle {
  font-size: 12px;
  margin-bottom: 20px;
}

.feature__list__text {
  font-size: 14.4px;
  margin-bottom: 33px;
}

time {
  font-size: 12px;
  display: block;
  text-align: right;
}

.js-fadeIn {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s;
}

footer {
  background-color: #121212;
  color: #ffffff;
}

.contact__section {
  margin-top: 60px;
  padding: 50px 0px;
}
@media (max-width: 750px) {
  .contact__section {
    padding: 80px 16px 90px 16px;
  }
}

.section__title--secondary {
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 901px) {
  .section__title--secondary {
    font-size: 36px;
  }
}
@media (max-width: 750px) {
  .section__title--secondary {
    font-size: 24px;
  }
}

@media (min-width: 901px) {
  .contact__box {
    max-width: 1210px;
    display: flex;
    margin: auto;
    padding: 0px 16px;
  }
}
@media (max-width: 750px) {
  .contact__box {
    flex-direction: column;
  }
}

@media (min-width: 901px) {
  .contact__form {
    width: 533px;
  }
}

@media (min-width: 901px) {
  .contact__text {
    width: 543px;
  }
}
@media (min-width: 901px) and (min-width: 1600px) {
  .contact__text {
    margin-right: 131px;
  }
}
@media (min-width: 901px) and (max-width: 1600px) {
  .contact__text {
    margin-right: 8.1875vw;
  }
}
@media (min-width: 901px) and (max-width: 750px) {
  .contact__text {
    margin-right: 0vw;
  }
}
.contact__text p {
  margin-bottom: 30px;
}

.form-text {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #ffffff;
  color: #121212;
  padding: 10px;
  margin-bottom: 19px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 68px;
  background-color: #ffffff;
  color: #121212;
  margin-bottom: 24px;
}

.send-btn {
  padding: 12px 0px;
  border: 1px solid #ffffff;
  text-align: center;
  cursor: pointer;
}
.send-btn:hover {
  background-color: #ffffff;
  color: #121212;
}
@media (min-width: 901px) {
  .send-btn {
    width: 200px;
  }
}
@media (max-width: 750px) {
  .send-btn {
    width: 100%;
  }
}

small {
  display: block;
  text-align: center;
  transition: 0.5s;
  font-size: 12px;
  padding-bottom: 10px;
}/*# sourceMappingURL=sneakers.css.map */